<div class="page-header">
  <h1>http & observables test</h1>
</div>

<p class="alert alert-danger" role="alert" *ngIf="error"> Error --> {{ error }}</p>

<md-list class="comments col-xs-12 col-sm-5" *ngIf="comments">
  <md-list-item *ngFor="let comment of comments">
    <md-icon mdListIcon>comment</md-icon>
    <h3 mdLine> {{comment.name}} </h3>
    <p mdLine> {{ comment.body }} </p>
    <p mdLine class="demo-2"> <small><i>id:</i> {{comment.id}}</small><small><i>postId:</i> {{comment.postId}}</small> </p>
  </md-list-item>
</md-list>


<md-grid-list cols="2" rowHeight="2:1" class="photos col-xs-12 col-sm-5" *ngIf="photos">
  <md-grid-tile *ngFor="let photo of photos">
    <img src="{{ photo.url }}" alt="{{ photo.title }}">
  </md-grid-tile>
</md-grid-list>
